breadability==0.1.10
coverage
fakeredis
gevent
gunicorn
httpcode
lxml
Mako
Paste
PasteDeploy
pep8
pycurl
pylint
pyScss
pyramid==1.4a3
pyramid_debugtoolbar
python-dateutil
pytz
redis
requests
waitress
webtest
