breadability==0.1.10
coverage
fakeredis
gevent
gunicorn
httpcode
lxml
Mako
newrelic
Paste
PasteDeploy
pep8
pycurl
pylint
pyramid==1.4a3
pyramid_debugtoolbar
pyScss==1.1.3
python-dateutil
pytz
redis
requests
waitress
watchdog
webtest
