@import "readable";

pre {
    background: lightyellow none repeat scroll 0 0;
    border:1px inset orange;
    margin:10px;
    overflow:auto;
    padding:6px;
    text-align:left;
    white-space: pre-wrap;
}
