/**
 * Testing ground of css before porting back to the Bookie main styles
 *
 */
body {
    background:
      -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
      -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
      -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
      -webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
      -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
      -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 5px 5px;
}

#readable_content {
    line-height: 1.5em;
    background: #FFF;
}

#readable_content h1 {
    line-height: 1.8em;
}


#readable_content a {
    color: #900;
}
